/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text:#111;
  --color-background:#eee;
}





/****************/
/* JOUW STYLING */


header {
	display: flex;
	justify-content: space-between;
	padding:1em;
	background-color: lightgrey;
}

 nav details > ul  {
 list-style: none;
}

 nav details > ul> li  {
 background-color: red;
}

 nav details > ul> li > a  {
 text-decoration: none;
}

header nav:nth-of-type(2)  {
 background-color: pink;
}

header nav:nth-of-type(2) ul  {
list-style: none;
 display: flex;
}

header nav:nth-of-type(2) li  {
background-color: blue;
  min-width:2rem;
	flex-grow:1;
}


header nav:nth-of-type(2) a  {
background-color: yellow;
gap:3rem;
line-height: 1.5rem;
}


.logoclaire{
  height:1.5rem;
	
}

main img:nth-of-type(1){
  max-width: 360px;

}


main img:nth-of-type(2){
  max-width: 375px;
   height: auto;
}
 
main img:nth-of-type(3){
  max-width: 375px;
   height: auto;
}
 
main img:nth-of-type(4){
  max-width: 375px;
   height: auto;
}
 
 main section:nth-of-type(1) {
  background-color: blue;
  max-width: 400px;
  height: auto;
  

 }


 
 

 




/* NAVIGATION */



