/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text:#111;
  --color-background:#eee;
}



body{
  margin:0;
}

/****************/
/* JOUW STYLING */


header {
	display: flex;
	justify-content: space-between;
	padding:1em;
	background-color: lightgrey;
  position: sticky;
  top:0;
  
}

 nav details > ul  {
 list-style: none;
}

 nav details > ul> li  {
 background-color: red;
}

 nav details > ul> li > a  {
 text-decoration: none;
}

header nav:nth-of-type(2)  {
 background-color: pink;
}

header nav:nth-of-type(2) ul  {
list-style: none;
 display: flex;
}

header nav:nth-of-type(2) li  {
background-color: blue;
  min-width:2rem;
	flex-grow:1;
}


header nav:nth-of-type(2) a  {
background-color: yellow;
gap:3rem;
line-height: 1.5rem;
}


.logoclaire{
  height:1.5rem;
	
}

main img:nth-of-type(1){
  max-width: 360px;

}


main img:nth-of-type(2){
  max-width: 360px;
   height: auto;
}
 
main img:nth-of-type(3){
  max-width: 360px;
   height: auto;
}
 
main img:nth-of-type(4){
  max-width: 360px;
   height: auto;
}
 
 main section:nth-of-type(1) {
  background-color:lightyellow;
  max-width: 360px;
   display:grid;
    grid-auto-columns:auto; 
     place-content:center;
     padding:1rem;
 
 }

main section:nth-of-type(1) h1 {
  font-size:2rem;
  

  
}

main section:nth-of-type(1) p {
  font-size:1rem;
  padding: 1rem;

 }


 .button {
 background-color: white;
 border:0.1rem solid black;
 font-size: 1rem;
 border-radius:2rem;
 padding:0.5rem;
 

 


}


.button1 {
 background-color: #d1f6cf;
 border:0.1rem solid black;
 font-size: 1rem;
 border-radius:2rem;
 padding:0.5rem;
 
}

main section:nth-of-type(2),h2 {
  background-color:lightyellow;
  max-width: 360px;
   display:grid;
    grid-auto-columns:auto; 
     place-content:center;
     padding:1rem;
 
 }


main section:nth-of-type(3) p {
  font-size:1rem;
  padding:1rem;
  max-width: 360px;
  background-color:lightpink;

 }

  
 main section:nth-of-type(4),h2 {
  background-color:#F0E0F0;
  max-width: 360px;
   display:grid;
    grid-auto-columns:auto; 
     place-content:center;
 
 }


main section:nth-of-type(5),h3 {
  background-color:lightyellow;
  max-width: 360px;
   display:grid;
    grid-auto-columns:auto; 
     place-content:center;
     padding:1rem;
 
 }

  main section:nth-of-type(5) p {
  font-size:1rem;
  padding:0.5rem;
  max-width: 360px;
  background-color: #d1f6cf;

 }

 main section:nth-of-type(6),h3 {
  background-color:lightyellow;
  max-width: 360px;
   display:grid;
    grid-auto-columns:auto; 
     place-content:center;
    
    font-size: 1.5rem;
 }

  main section:nth-of-type(6) p {
  background-color:lightyellow;
  max-width: 360px;
   display:grid;
    grid-auto-columns:auto; 
     place-content:center;
    padding:1rem;
    font-size:1rem;
 }





 .button2{
 background-color: lightyellow;
 border:0.1rem solid black;
 font-size: 1rem;
 border-radius:2rem;
 padding:0.5rem;
 
}

 
 
main section:nth-of-type(7) p {
  font-size:1rem;
  padding:0.5rem;
  max-width: 360px;
  background-color:#E4C5E4;
 
 }

  main section:nth-of-type(8),h2 {
  background-color:#F0E0F0;;
  max-width: 360px;
   display:grid;
    grid-auto-columns:auto; 
     place-content:center;
         padding:1rem;

 
 }

  main section:nth-of-type(8)p {
  background-color:#F0E0F0;;
  max-width: 360px;
   display:grid;
    grid-auto-columns:auto; 
     place-content:center;
         padding:1rem;

 
 }

 main section:nth-of-type(9) p {
  font-size:1rem;
  padding:0.5rem;
  max-width: 360px;
  background-color:#d1f6cf;


 }

 footer   {
  background-color:#F0E0F0;
  list-style: none;
 }


  footer > details   {
  padding:2rem;
 }


  footer > ul   {
  list-style: none;
  line-height:1.9rem;
 }

   footer > h4  {
   font-size: 2rem;
    padding:2rem;
 }

 footer > h5  {
   padding: 2rem;
   color:purple;
   
 }


 

 


 
 

 




/* NAVIGATION */



